body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    background-color: #e8bf2c;
}

.header-container {
    height: 100vh;
    background-image: url(assets/First-Field-Trippers.jpg);
    background-size: cover;
}

.logo {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    padding: 10px 20px;
    background-color: #d1891d;
    color: black;
    border-radius: 10px;
    font-size: 1em;
    text-decoration: none;
    margin-inline: 30px;

}

.gallery img {
    width: 300px;
    padding: 10px;
    border-radius: 40px;
    align: center;
}

footer {
    display: flex;
    justify-content: center;
    padding: 80px;
}

footer a {
    margin: 0 30px 10px;
    color: black;
    text-decoration: none;
}

.header-container-title {
    text-align: center;
    color: rgb(255, 253, 253);
    font-family: Georgia;
    font-size: 300%;
    font-weight: bold;
    text-align: center;

}

.header-container-title p {
    background-color: #00000061;

}

.sidebar-container {
    padding: 10px;
    background-color: aliceblue;
}

.sidebar-accent {
    padding: 30px 30px 10px 30px;
    font-size: 16pt;
    text-transform: uppercase;
    color: black
}

.sidebar-title {
    font-size: 50px;
    font-weight: bold;
    padding: left 30px;
    width: 1000px;
    border-bottom: 5px solid black;
}